@keyframes rotate-vert-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
  }

@media screen and (max-width:360px) 
and (max-width: 736px) {
    .view {
        width: 360px;
        height: 700px;
        margin:auto;
}
}

object {
    width: 100%;
    height: 80px;
    margin-top: 0px;
}
button {
    display: flex;
    font-family: 'Lobster', cursive;
    font-stretch: wider;
    font-size: 14pt;
    color: blue;
    height: 30px;
    border-radius: 30px;
    width: 150px;
    background-color: white;
    border-color: white;


 
}
#timer, #player, #points {
    display: inline-flex;
    padding-left: 1%;
    margin-left: 5%;
  
}
#points {
    float: left;
    margin-left: 38%;
}
.container {
    width: 1000px;
    display: grid;
    column-width: 120px;
    height: auto;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    padding-right: 400px;
    padding-left: 400px;

}
body {
    background-image: url(https://image.freepik.com/free-vector/halftone-white-background_115579-724.jpg);
}


img{
    @include -webkit-keyframes;
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    border: 3px solid #73AD21;
    margin-left: 2px;
    margin-right: 2px;
    background-color: aliceblue;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    flex-flow: column;
          
}
.container {
    animation-name: animi;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes animi {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
  }
footer {
    background-color: blue;
    width: 100%;
    height: 90px;
    margin-top: 50px;

}
.end1 {
    display: inline-flex;
    font-family: 'Lobster', cursive;
    font-stretch: wider;
    color: blue;
    width: 180px;
    margin-top: 30px;
    margin-left: 15%;
    border: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    font-size: 16pt;
    background-color: white;
    justify-content: center;
}
