
@media screen and (max-width:360px) 
and (max-width: 736px) {
    .view {
        width: 360px;
        height: 700px;
        margin:auto;
}
}

object {
    width: 100%;
    height: 80px;
    margin-top: 0px;
}
button {
    display: flex;
    font-family: 'Lobster', cursive;
    font-stretch: wider;
    color: blue;
    width: 180px;
    margin-top: 30px;
    margin-left: 2%;
    border: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    font-size: 16pt;
    background-color: white;
    justify-content: center;
}
#timer, #player, #points {
    display: inline-flex;
    padding-left: 1%;
    margin-left: 5%;
  
}
#points {
    float: left;
    margin-left: 38%;
}
.container {
    display: flex;
    column-width: 120px;
    height: auto;
    width: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-left: 40vh;

 

}
body {
    background-image: url(https://image.freepik.com/free-vector/halftone-white-background_115579-724.jpg);
}
.card-img{
    height: 100px;
    width: 100px;
}

img{
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    border: 3px solid #73AD21;
    margin-left: 2px;
    margin-right: 2px;
    background-color: aliceblue;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    flex-flow: column;
          
}
footer {
    background-color: blue;
    width: 100%;
    height: 90px;
    margin-top: 50px;

}
.end1 {
    display: inline-flex;
    font-family: 'Lobster', cursive;
    font-stretch: wider;
    color: blue;
    width: 180px;
    margin-top: 30px;
    margin-left: 15%;
    border: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    font-size: 16pt;
    background-color: white;
    justify-content: center;
}
