
object {
    width: 100%;
    height: 80px;
    margin-top: 0px;
}
button {
    color: whitesmoke;
    background-color: grey;
    text-align: center;
}
button, #timer {
    display: inline-block;
    margin-left: 30px;
    margin-right: 35%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-width: 120px;
    height: 300px;
    width: 600px;
    margin-left: 370px;
    margin-right: 300px;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;

}
body {
    background-image: url(https://image.freepik.com/free-vector/halftone-white-background_115579-724.jpg);
}

.item{
    width: 100px;
    height: 600px;
    background-color: grey;
    margin-left: -90px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    flex-wrap: wrap;
    flex-flow: column;
    
} 
#player, #points {
    display: inline-block;
    margin-left: 22%;
    margin-right: -90px;
    margin-top: 4px;
}
.card-img{
    height: 100px;
    width: 100px;
}

img{
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    border: 3px solid #73AD21;
    margin-left: 2px;
    margin-right: 2px;
    background-color: aliceblue;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    flex-flow: column;
          
}
#obj1{
width: 100%;
height: 140px;
position: static;
} 
footer {
    background-color: blue;
    width: 100%;
    height: 90px;
    margin-top: 50px;

}
a {
    display: inline-flex;
    font-family: 'Lobster', cursive;
    font-stretch: wider;
    color: blue;
    width: 180px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 13.5%;
    border: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    font-size: 16pt;
    background-color: white;
    justify-content: center;
}